<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="PivotEntities" connectionString="metadata=res://*/DataModel.PivotModel.csdl|res://*/DataModel.PivotModel.ssdl|res://*/DataModel.PivotModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Pivot;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>