<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
     <add name="PivotEntities" connectionString="metadata=res://*/DataModel.PivotModel.csdl|res://*/DataModel.PivotModel.ssdl|res://*/DataModel.PivotModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Pivot;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
  <appSettings>
    <add key="defaultUnitySectionName" value="unity"/>
    <add key="SMTPServer" value="smtp.corp.alsglobal.org"/>
    <add key="SMTPPort" value="25"/>
    <add key="emailSender" value="me@alsglobal.com"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false"/>
    </diagnostics>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding" closeTimeout="00:05:00" openTimeout="00:30:00" receiveTimeout="05:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="65536" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="65536" maxStringContentLength="65536" maxArrayLength="65536" maxBytesPerRead="65536" maxNameTableCharCount="65536"/>
          <reliableSession ordered="false" inactivityTimeout="00:30:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" closeTimeout="00:05:00" openTimeout="00:30:00" receiveTimeout="05:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="65536" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="65536" maxStringContentLength="65536" maxArrayLength="65536" maxBytesPerRead="65536" maxNameTableCharCount="65536"/>
        </binding>
        <binding name="BasicHttpsBinding" closeTimeout="00:05:00" openTimeout="00:30:00" receiveTimeout="05:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="65536" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="65536" maxStringContentLength="65536" maxArrayLength="65536" maxBytesPerRead="65536" maxNameTableCharCount="65536"/>
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <!--<endpointBehaviors>
        <behavior name="PivotServiceEndPointBehavior">
          <PivotServiceValidator />
        </behavior>
      </endpointBehaviors>-->
      <serviceBehaviors>
        <behavior name="Metadata">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="GlobalErrorBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <GlobalErrorHandler/>
        </behavior>
        <behavior name="PivotService.Default">
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="20971520"/>
        </behavior>
        <behavior name="defaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="GlobalErrorHandler" type="PivotService.WCF.GlobalErrorBehaviorElement, PivotService.WCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service behaviorConfiguration="GlobalErrorBehavior" name="PivotService.PivotService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/PivotService/PivotService/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding" contract="PivotService.IPivotService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Information">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
  </system.diagnostics>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container/>
  </unity>
</configuration>